<h1 class="finalWarning">PLEASE NOTE: Once processed, all online orders are final and cannot be cancelled or changed.</h1>
<iframe src='https://secure.cardknox.com/davidjklaverdev?<%= "xAmount=#{@total}&xBillLastName=#{params[:xShipLastName]}&xCustom02=#{session[:cart]}&xBillStreet=#{params[:xShipStreet]}&xBillZip=#{params[:xShipZip]}&xShipLastName=#{params[:xShipLastName]}&xShipStreet=#{params[:xShipStreet]}&xShipCity=#{params[:xShipCity]}&xShipState=NY&xShipZip=#{params[:xShipZip]}&xInvoice=#{@invoiceNumber}" %>'>.</iframe>
