// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #009f34;
$blue: #292d45;

body {
	background-color: #eee;
}

#dishesContainer, #dishContainer {
	width: 80%;
	margin: 20vh 0 0 10%;

	h1 {
		text-align: center;
		color: $blue;
		font-size: 54px;
/*		text-decoration: underline;
*/		/*font-family: "Raleway";*/
	}

	h2 {
		text-align: center;
		text-decoration: underline;
	}

	.row {
		padding-top: 25px;
	}

	.row > div {
		/*border: 1px solid red;*/
		padding: 20px 40px;
	}

	p {
		color: $blue;

	}

	.underline {
		border-bottom: dotted 2px grey;
		font-size: 24px;
		color: $green;
	}

	.price {
		float: right;
	}
}

/*_________________New Dish Page Styles_________________*/

#newDishContainer {
	width: 80%;
	margin: 20vh 0 0 10%;

	h1 {
		text-align: center;
		color: $blue;
		font-size: 54px;
	}
}
