// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #009f34;
$blue: #292d45;

.orderContainer {
	margin-top: 100px;
	text-align: center;
	color: white;

	h1 {
		/*color: $green;*/
		font-size: 100px;
		font-family: "HaloHandletter";
	}

	.subHeading {
		font-size: 22px;
	}
}

	@media(max-width: 767px) {
		.orderContainer {
			h1 {
				font-size: 54px !important;
			}
		}
	}

.orderInfoDiv {
	width: 80%;
	margin: 50px 10%;

	p {
		font-size: 24px;
	}
}

.orderTable {
	text-align: center;
	max-width: 800px;
	margin: auto;

	.dishName {
		font-family: "Runaway";
	}

	td {
		/*color: $green;*/
		/*font-family: 'Poiret One';
		font-weight: bold;*/
		font-size: 28px;
	}
}

