// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$green: #009f34;
$blue: #292d45;

.signupContainer {
	
	h1 {
		font-size: 80px;
		text-align: center;
		margin: 150px 20px 15px 0;
		/*color: white;*/
	}

	p {
		color: white;
		text-align: center;
		margin-bottom: 30px;
		font-size: 20px;
	}

	.formDiv {
		width: 65%;
		max-width: 450px;
		margin: 50px auto;

	}

	.fieldDiv {
		text-align: right;
		font-size: 18px;

		input {
			width: 250px;
		}
	}

@media(min-width: 768px) {
	.fieldDiv input {
		margin-right: 100px;
	}
}

	.submitBtn {
		width: 100px;
		margin: 20px 165px;
		/*float: right;*/
	}

	@media(max-width: 767px) {
			input {
				display: block;
				margin: auto;
			}
			.fieldDiv {
				text-align: center;
			}

			.submitBtn {
				margin: 20px auto;
			}
		}

	 label {
		font-size: 18px;
		font-family: "Chelsea Market";
		color: $green;
	}

	input:not(:last-child) {
		width: 300px;
	}
}